#
# .env
#
# Conjunto de variáveis de ambiente específicas por usuário. Para utilizar corretamente
# este arquivo, crie uma cópia do mesmo, renomeando-o para ".env" e comece a preencher
# as variáveis listadas aqui com os valores desejados. As variáveis comentadas devem 
# conter os valores default.

#FOO=bar
#AWS_SSO_SESSION_NAME=myawssession